body {
	background-image:url(imagenes/pizarra-fondo-iconos-contacto-colores.jpg);
	background-size:cover;
	background-position:center;
	color:#fff;
	font-family:Arial, sans-serif;
}

header {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
}

h1 {
	margin: 0;
	font-size: 48px;
}

main {
	padding: 20px;
}

p {
	font-size: 24px;
	line-height: 1.5;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}
nav {
	background-color: blue; /* Cambia el color de fondo a azul */
	text-align: right; /* Alinea el contenido a la derecha */
	padding: 10px; /* Agrega un espacio alrededor del contenido */
  }
  
  nav a {
	color: white; /* Cambia el color de letra a blanco */
	padding: 10px; /* Agrega un espacio interno alrededor del enlace */
	text-decoration: none; /* Quita la decoración de enlace */
  }
  
  nav a:hover {
	color: violet; /* Cambia el color de letra a violeta al pasar el cursor por encima */
  }